body{
    background:white;
    font-family: 'Poppins', sans-serif;
}


.topbar{
    background:#363535;
    color:white;
    font-size:14px;
}
.row{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.row #icon{
    margin:0 5px;
    font-size:18px;
    color: green
}


.navbar-brand{
    font-size:24px;
    font-weight:bold;
}

.hero{
    background:#eef7ef;
    padding:70px 0;
}

.hero h1{
    font-size:52px;
    font-weight:700;
}

.hero-image{
    position:relative;
}

.course-badge{
    position:absolute;
    top:20px;
    left:20px;
    width:120px;
    height:120px;
    border-radius:50%;
    background:#28a745;
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    box-shadow:0 5px 15px rgba(0,0,0,.2);
}


.section-title{
    font-size:36px;
    font-weight:700;
}

.section-title span{
    color:#28a745;
}


.category-btn{
    border:1px solid #d8d8d8;
    background:white;
    padding:10px 25px;
    border-radius:6px;
}

.active-category{
    background:#28a745;
    color:white;
    border:none;
}
.search-box{
    max-width:350px;
}

.course-card{
    border:none;
    transition:.3s;
    overflow:hidden;
}

.course-card:hover{
    transform:translateY(-8px);
}

.course-card img{
    height:220px;
    object-fit:cover;
}

.contact{
    padding: 50px 0;
    background-color: #fef3f3;
}
.contect-info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    gap: 3rem;
}
.first-info img{
    width: 150px;
    height: auto;
}
.contect-info h4{
    color: #212529;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.contect-info p{
    color: #565655;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.5;
    margin-bottom: 10px;
    cursor: pointer;
    margin-left:2px;
    transition: all .42;
}
.contect-info p:hover{
    color: #EE1c47;
    transition: all.42s ease;
}
.social-icon i{
    color: #565655;
    margin-right: 10px;
    font-size: 20px;
    transition: all .42;
}
.social-icon i:hover{
    color: #000;
    transition: all .42s ease;
    transform:scale(1.2) ;
}
.contact{
    background-color: #fef3f3;
}
.contect-info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    gap: 3rem;
}
.first-info img{
    width: 150px;
    height: auto;
}
.contect-info h4{
    color: #212529;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.contect-info p{
    color: #565655;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.5;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all .42;
}
.contect-info p:hover{
    color: #EE1c47;
    transition: all.42s ease;
}
.social-icon i{
    color: #565655;
    margin-right: 10px;
    font-size: 20px;
    transition: all .42;
}
.social-icon i:hover{
    color: #000;
    transition: all .42s ease;
    transform:scale(1.2) ;
}

@media(max-width:768px){

    .hero h1{
        font-size:35px;
    }

    .course-badge{
        width:90px;
        height:90px;
    }

}